.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;

  /* outline: 1px solid rgb(243, 2, 2); */
  /* обнуление падингов */
  padding: 0;
  position: relative;
}
.up-position{
  z-index: 2;
}
.logo {
  /* outline: 1px solid rgb(13, 244, 105); */
  background-image: url(../images/logo_place_header.svg);
  width: 228px;
  height: 32px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}


.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  margin: 0 auto;
  display: flex;
  flex-direction: column  ;
  justify-content: center;
  outline: 1px solid rgb(2, 78, 243);
  background-color:  #f2f2f2;
  position: relative;
}

.header__title {
  margin-left: 64px;
  max-width: 730px;
  line-height: 96px;
  font-size: 108px;
  font-weight: 600;

}

.header__subtitle {
  position: absolute;
  left: 64px;
  bottom: 30px;
  max-width: 338px;
  margin: 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__link {
  text-decoration: none;
}

.header__link::after {
  content: " \2192"
}

.header__main-illustration {
  position: absolute;
  background-image: url(../images/header-image.png);
  background-size: cover;
  width: 765px;
  height: 608px;
  right:0;
  bottom: 0;
  z-index: 1;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  position: absolute;
  height: 568px;
  width: 568px;
  top: 64px;
  right: 0;
  background-color: #2f80ed;
}

.description {
  padding-top: 100px;
  outline: 1px solid rgb(6, 72, 214);
  display: flex;
}

.two-columns {
  width: 80%;
  margin: 0 auto;
  outline: 1px solid rgb(2, 243, 6);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
  outline: 1px solid rgb(2, 243, 243);
  /* пытаюсь прижать блок к верху */
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  outline: 1px solid rgb(243, 26, 2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.two-columns__paragraph {
  display: block;
  outline: 1px solid rgb(227, 243, 2);
  margin: 0;
  margin-bottom: 30px;
}
.two-columns__paragraph:last-child{
  margin: 0;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
