.body {
  margin: 0;
  padding: 0;
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;

  /* outline: 1px solid rgb(10, 10, 10); */
  /* обнуление падингов */
  padding: 0;
  position: relative;
}

.up-position{
  z-index: 2;
}
.logo {
  /* outline: 1px solid rgb(13, 244, 105); */
  width: 228px;
  height: 32px;
}

.logo_place_header {
  background-image: url(../images/logo_place_header.svg);
  position: absolute;
  top: 30px;
  left: 64px;
}

.centr{
  margin: 0 auto;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  display: flex;
  flex-direction: column  ;
  justify-content: center;
  /* outline: 1px solid rgb(2, 78, 243); */
  background-color:  #f2f2f2;
  position: relative;
}

.header__title {
  margin-left: 64px;
  max-width: 730px;
  line-height: 96px;
  font-size: 108px;
  font-weight: 600;

}

.header__subtitle {
  position: absolute;
  left: 64px;
  bottom: 30px;
  max-width: 338px;
  margin: 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: 400;
}

.header__link {
  text-decoration: none;
}

.header__link::after {
  content: " \2192"
}

.header__main-illustration {
  position: absolute;
  background-image: url(../images/header-image.png);
  background-size: cover;
  width: 765px;
  height: 608px;
  right:0;
  bottom: 0;
  z-index: 1;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  position: absolute;
  height: 568px;
  width: 568px;
  top: 64px;
  right: 0;
  background-color: #2f80ed;
}

.description {
  padding-top: 100px;
  /* outline: 1px solid rgb(230, 23, 212); */
  display: flex;
}

.two-columns {
  width: 80%;
  /* outline: 1px solid rgb(2, 243, 6); */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.two-columns__brief {
  width: 175px;
  /* outline: 1px solid rgb(2, 243, 243); */
  margin: 0;
  align-self: stretch;
  line-height: 1.2;
  font-size: 18px;
  font-weight: 400;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  /* outline: 1px solid rgb(243, 26, 2); */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.two-columns__paragraph {
  display: block;
  /* outline: 1px solid rgb(227, 243, 2); */
  margin: 0;
  margin-bottom: 30px;
  line-height: 34px;
  font-size: 24px;
  font-weight: 400;
}
.two-columns__paragraph:last-child{
  margin: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

.digits {
  padding: 100px 0;
  /* outline: 1px solid rgb(227, 243, 2); */
  display: flex;
  flex-direction: column;
}

.section-title {
  /* outline: 1px solid rgb(243, 50, 2); */
  width: 60%;
  text-align: center;
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.section-subtitle {
  /* outline: 1px solid rgb(104, 110, 12); */
  width: 60%;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: 400;
}

.table {
  /* outline: 1px solid rgb(55, 223, 13); */
  width: 1100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table__cell {
  /* outline: 1px solid rgb(231, 10, 220); */
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}

.table__text {
  margin: 20px 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: 400;
}

.table__blockquote {
margin: 0;
}

.feynman {
  /* outline: 1px solid rgb(231, 10, 220); */
  display: flex;
  flex-direction: column;
  height: 890px;
  position: relative;
  background-color: #f2f2f2;
}

.feynman__link {
  /* outline: 1px solid rgb(28, 231, 10); */
  text-decoration: none;
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: 400;
}

.feynman__link::after {
  content: " \2192"
}

.feynman__title {
  text-align: center;
  width: 648px;
  margin-top: 100px;
  /* outline: 1px solid rgb(14, 10, 231); */
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
}

.feynman__subtitle {
  text-align: center;
  margin-top: 70px;
  /* outline: 1px solid rgb(231, 17, 10); */
  line-height: 51px;
  font-size: 36px;
  font-weight: 400;
}

.feynman__image {
  /* outline: 1px solid rgb(0, 0, 0); */
  position: absolute;
  bottom: 0;
  left: 0;
  width: 867px;
  height: 637px;
}

.kaufman {
  padding: 90px 0;
  /* outline: 1px solid rgb(227, 243, 2); */
  display: flex;
  flex-direction: column;
  background-color: #1f1f1f;
  color: white;
  z-index: -2;
  position: relative;
  overflow: hidden;
}

.section-title_theme_dark {
  /* outline: 1px solid rgb(47, 231, 10); */
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}
.section-subtitle_theme_dark{
  line-height: 34px;
  font-size: 24px;
  font-weight: 400;
  /* outline: 1px solid rgb(47, 231, 10); */
}

.table__cell_theme_dark {
  width: 200px;
  margin-right: 0;
  margin-top: 80px;
}

.table__heading_theme_dark{
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

.table__text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  font-weight: 400;
}


.kaufman__trianlge {
  /* 877x877px */
  position: absolute;
  top: 0;
  right: -210px;
  width: 877px;
  height: 877px;
  z-index: -1;
}

.footer {
  /* outline: 1px solid rgb(47, 231, 10); */
  min-height: 350px;
  background-color: #1f1f1f;
  color:white;
  padding: 60px 0 40px;
  display: flex;
  flex-direction: row;
}

.footer__columns {
  /* outline: 1px solid rgb(231, 17, 10); */
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__column {
  /* outline: 1px solid rgb(252, 252, 252); */
  display: flex;
  flex-direction: column;
}

.footer__column_content_copyright {
  justify-content: space-between;
  flex-basis: 711px;
}

.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);
}

.footer__autor {
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: 400;
}

.footer__columns-links{
  margin: 20px 0 16px;
  list-style-type: none;
  padding: 0;
}

.footer__column-link{
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  line-height: 30px;
  font-size: 18px;
  font-weight: 400;
  /* outline: 1px solid rgb(252, 252, 252); */
}
.footer__social-icon {
  /* outline: 1px solid rgb(222, 226, 0); */
  margin-right: 10px;
  width: 16px;
  height: 16px;
}

.footer__social-icon_YouTube{
  background-image: url(../images/youtube-icon.svg);
}

.footer__social-icon_vk{
  background-image: url(../images/vk_color_white.svg);
}

.footer__social-icon_tiktok{
  background-image: url(../images/tiktok-icon.svg);
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}